- var docName = "MyGiro"

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles/style.css")
    body 
        include modules/header
        .banner
        .text
            h1 Добро пожаловать в ZAMM 
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod reprehenderit totam fuga? Totam assumenda accusantium id maiores voluptatem dicta dignissimos labore aliquam consequatur nihil? Aut a labore quis culpa aliquid?Alias est nemo ipsum, doloremque voluptates optio aspernatur, itaque dicta reprehenderit molestias cum ipsam, odit et nam accusantium laudantium adipisci in deleniti! Quasi, voluptate cumque ab unde a ea! Sint. ipsum dolor sit amet consectetur adipisicing elit. Aperiam itaque libero fugiat officiis, nemo mollitia quas veniam enim odio distinctio doloribus vero reiciendis cum. Quasi odit deserunt assumenda sed quas?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, molestias illum maiores esse facere dicta in voluptate ea culpa hic dolor eaque blanditiis debitis consequatur iusto! Sed voluptate cupiditate officia?Sapiente iure libero facilis, iusto tempore veritatis illum porro, temporibus vero laborum itaque atque blanditiis consectetur error quaerat voluptas deserunt eos fuga. Totam non, in praesentium voluptate id inventore dicta? ipsum dolor sit, amet consectetur adipisicing elit. Dolore in vitae necessitatibus, laboriosam nobis soluta sequi accusamus ad amet sapiente veniam qui? Architecto aliquam, porro delectus in cupiditate hic deserunt!
            h2 Философия ZAMM 
            ul  
                li Служит дольше
                li Тратят меньше ресурсов
                li Берегут окружающую среду
        .banner2
        h1 Подписаться на новостную рассылку
        .stroka
        input type (name="Email", cols="30", rows="10") 
        button#(name="Отправить")
        h1 Доставка и сборка
        .telso 
        table(style='width:100%', border='1px')
            tr 
                th Вес
                th Доставка без подьема
                th Доставка с подьёмом (1 этаж+лифт+20м  пронос)
                th Подьем по лестнице ( на этаж)
                th Сборка
            tr 
                td до 15 кг
                td от 15 кг до 50 кг
                td от 50 кг до 100 кг
                td от 150 кг до 200 кг
                td  от 45 кг до 400 кг
            tr 
                td 1200 р
                td 1300 р
                td 1500 р
                td 1600 р
                td 1700 р
            tr 
                td 100 р
                td 200 р
                td 300 р
                td 400 р
                td 500 р
            tr 
                td до 15 кг
                td от 15 кг до 80 кг
                td от 50 кг до 190 кг
                td от 3000 кг до 400 кг
                td от 5000 ег до 6000 кг
            tr 
                td до 15 кг
                td от 15 кг до 80 кг
                td от 50 кг до 190 кг
                td от 3000 кг до 400 кг
                td от 499 кг до 485 кг
        include modules/footer